@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
* {
  scroll-behavior: smooth;
  font-family: "JetBrains Mono";
}

:root {
  --color-primary: #0d9488; /* bg-teal-600 */
}

.bg-primary {
  background-color: var(--color-primary) !important;
}
